:root {
  --ff-sans: "Josefin Sans", sans-serif;
  --base-font: 1.6rem;
  --fw-normal: 400;
  --fw-bold: 700;
  --primary-clr-blue: hsl(220, 98%, 61%);
  --primary-clr-green: hsl(192, 100%, 67%);
  --primary-clr-pink: hsl(280, 87%, 65%);
  --ltheme-gray-100: hsl(0, 0%, 98%);
  --ltheme-gb-100: hsl(236, 33%, 92%);
  --ltheme-gb-200: hsl(233, 11%, 84%);
  --ltheme-gb-300: hsl(236, 9%, 61%);
  --ltheme-gb-400: hsl(235, 19%, 35%);
  --dtheme-gb-200: hsl(234, 39%, 85%);
  --dtheme-gb-active-200: hsl(236, 33%, 92%);
  --dtheme-gb-300: hsl(234, 11%, 52%);
  --dtheme-gb-400: hsl(233, 14%, 35%);
  --dtheme-gb-500: hsl(237, 14%, 26%);
  --dtheme-blue-400: hsl(235, 21%, 11%);
  --dtheme-blue-desat: hsl(235, 24%, 19%);
}

/* RESETS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  position: relative;
}

html,
body {
  min-height: 100%;
}

ul {
  list-style: none;
}

img {
  user-select: none;
}

/* BODY */

body {
  font: var(--fw-normal) var(--base-font) var(--ff-sans);
  background: var(--dtheme-blue-400) url("../assets/images/bg-desktop-dark.jpg")
    no-repeat 0% 0% / 100vw 30rem;
  padding-top: 8rem;
  width: 54rem;
  margin: auto;
}

/* INPUT AND BUTTON */

input,
button {
  font: inherit;
  border: 0;
  background: transparent;
}

button {
  display: flex;
  user-select: none;
}

input:focus,
button:focus {
  outline: 0;
}

/* ALL ARE CARDS  */

.card {
  background-color: var(--dtheme-blue-desat);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.9rem 2rem;
  gap: 2rem;
}

/* CHECKBOX AND INPUT - CONTAINERS AND FIELDS  */

.card .cb-container {
  width: 2.5rem;
  height: 2.5rem;
  border: 0.1rem solid var(--dtheme-gb-400);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card .cb-container .cb-input {
  transform: scale(1.8);
  opacity: 0;
}

.card .cb-container .check {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  border-radius: inherit;
}

.card .cb-container .cb-input:checked + .check {
  background: url("../assets/images/icon-check.svg"),
    linear-gradient(45deg, var(--primary-clr-green), var(--primary-clr-pink));
  background-repeat: no-repeat;
  background-position: center;
}

.card .txt-container {
  flex: 1;
}

.card .txt-container .txt-input {
  width: 100%;
  padding: 0.7rem 0;
  color: var(--dtheme-gb-active-200);
}

.card .txt-container .txt-input::placeholder {
  color: var(--dtheme-gb-400);
}

/* HEADER'S CARD */

header.card {
  background: transparent;
  padding: 0;
  align-items: flex-start;
}

header.card h1 {
  color: var(--ltheme-gray-100);
  letter-spacing: 1.3rem;
  font-weight: 700;
  font-size: calc(var(--base-font) * 2);
}

/* ADD CARD */

.add {
  margin: 4rem 0 2.5rem 0;
  border-radius: 0.5rem;
}

.add .cb-container {
  transition: background 0.3s ease;
}

.add .cb-container #add-btn {
  color: hsl(234, 39%, 75%);
  font-size: var(--base-font);
  transition: color 0.3s ease;
}

.add .cb-container:hover {
  background: var(--primary-clr-blue);
}

.add .cb-container:active {
  transform: scale(0.95);
}

.add .cb-container:hover #add-btn {
  color: var(--ltheme-gray-100);
}

/* TODOS CONTAINER */

.todos .card:first-child {
  border-radius: 0.5rem 0.5rem 0 0;
}

.todos > * + * {
  border-top: 0.2rem solid hsl(235, 19%, 24%);
}

.item {
  flex: 1;
  color: hsl(234, 39%, 75%);
}

.item:hover {
  color: var(--dtheme-gb-active-200);
}

/* COMPLETED ITEM */

.cb-container.checked + .item {
  text-decoration: line-through;
  color: var(--dtheme-gb-300);
  text-decoration-color: var(--dtheme-gb-300);
}

/* CLEAR CONTAINER */

.clear {
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.todos .card:hover .clear {
  opacity: 1;
  pointer-events: all;
}

/* STAT CONTAINER */

.stat {
  border-radius: 0 0 0.5rem 0.5rem;
  border-top: 0.2rem solid hsl(235, 19%, 24%);
  font-size: calc(var(--base-font) - 0.3rem);
}

.stat * {
  color: hsl(237, 12%, 36%);
}

/* CORNERS */

.stat .corner {
  flex: 1;
}

.stat .corner:last-child {
  display: flex;
  justify-content: flex-end;
}

.stat .corner button:hover {
  color: var(--ltheme-gray-100);
}

/* MENU */

.stat .menu {
  font-weight: var(--fw-bold);
}

.stat .menu:hover {
  color: var(--ltheme-gray-100);
}

.stat .menu.on {
  color: var(--primary-clr-blue);
}

/* FOOTER */

footer {
  margin: 4rem 0;
  text-align: center;
  color: var(--dtheme-gb-400);
}
